textarea {
    min-height: 400px;
}

.email-container {
    border: 1px solid #14377d;
    margin: 1% 0;
    padding: 1%;
}

.email-read {
    background-color: lightgray;
}

.email-unread {
    background-color: #fefefe;
}

.reply {
    margin-left: 16px;
}